.button {
  background: var(--purple);
  color: white;
  font: var(--button);
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  padding-block-start: 13px;
  padding-block-end: 13px;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  display: inline-block;
}
.button.is-secondary {
  background: unset;
  border: 2px solid var(--purple);
  color: var(--purple);
}
.button-icon {
  background: white;
  border: 2px solid var(--purple);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
}
.button-icon img {
  vertical-align: middle;
}
.button.button-contact {
  width: -webkit-fill-available;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .button {
    text-align: center;
  }
}
