.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-left: 128px;
  padding-right: 128px;
  padding-bottom: 83px;
}
.logo.footer {
  color: white;
  margin: 0px;
}
.class-with-love {
  display: flex;
  flex-direction: row;
  gap: 29px;
}
@media screen and (max-width: 480px) {
  .logo.footer {
    display: none;
  }
  .container-footer {
    justify-content: center;
  }
  .class-with-love {
    flex-direction: column-reverse;
    padding: 0px;
    justify-content: center;
  }
  .class-with-love p {
    text-align: center;
    margin: 0px;
  }
}
