/* @import "./button"; */
.container-infopersonal {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: space-between;
  padding-left: 128px;
  padding-right: 80px;
}
.texto-informativo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 75px;
}
.texto-informativo h2 {
  font: var(--headline2);
  margin: 0px;
}
.texto-informativo h5 {
  font: var(--headline5);
  text-align: initial;
}
.texto-informativo p {
  font: var(--body1);
  width: 450px;
}
.container-botones {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 16px;
}
.imagen-info {
  max-width: 500px;
  min-width: 300px;
  width: 100%;
}
.imagen-info img {
  width: inherit;
}
@media screen and (max-width: 480px) {
  .container-infopersonal {
    flex-direction: column-reverse;
    padding: 16px;
    gap: 16px;
  }
  .texto-informativo {
    margin-top: 0px;
  }
  .texto-informativo h2 {
    font: var(--headline3);
    margin-top: 0px;
  }
  .texto-informativo h5 {
    font: var(--headline5);
    margin-top: 0px;
    text-align: initial;
  }
  .texto-informativo p {
    font: var(--body1);
    padding: 0px;
    white-space: normal;
    width: auto;
    margin: 0px;
  }
  .container-boton-cv a {
    width: -webkit-fill-available;
  }
}
