.container-leonidas {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  padding-inline-start: 128px;
  padding-inline-end: 113px;
  padding-block-start: 80px;
  padding-block-end: 80px;
  gap: 24px;
}
.information-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.information-text h4 {
  background: var(--purple);
  font: var(--headline4);
  box-shadow: -4px 4px 0px #ffffff;
  color: white;
  padding: 4px 8px;
  margin: 0px;
  width: fit-content;
}
.information-text p {
  white-space: inherit;
}
.project-image {
  max-width: 652px;
  min-width: 327px;
  width: 100%;
}
.project-image img {
  width: inherit;
}
.code-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 16px;
}
@media screen and (max-width: 480px) {
  .container-leonidas {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    padding: 40px 16px;
  }
  .information-text h4 {
    font: var(--headline5);
  }
  .code-buttons {
    flex-direction: column;
  }
}
