@import "./button.css";
@import "./hero.css";
@import "./presentation.css";
@import "./project.css";
@import "./card.css";
@import "./contact.css";
@import "./footer.css";
:root {
  --fontBase: "Poppins", sans-serif;
  --headline1: bold 95px/153.71px var(--fontBase);
  --headline2: bold 59px/95px var(--fontBase);
  --headline3: bold 48px/77px var(--fontBase);
  --headline4: 34px/55px var(--fontBase);
  --headline5: bold 24px/38px var(--fontBase);
  --body1: 16px/25px var(--fontBase);
  --body2: 14px/22px var(--fontBase);
  --button: bold 14px/22px var(--fontBase);
  --caption: 12px/19px var(--fontBase);
  --gradient: radial-gradient(
      41.48% 11.48% at 2.38% 8.52%,
      #747de9 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(135deg, #72edf2 0%, #5151e5 100%);
  --purple: #310a90;
  --green: #42e2b8;
}

body {
  background: var(--gradient);
  min-block-size: 100vh;
  font: var(--body1);
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  color: #310a90;
}
header {
  display: flex;
  flex-direction: row;
}
/* h1 {
  font: var(--headline1);
  color: #310a90;
  margin-top: 0px;
  margin-bottom: 0px;
}
h2 {
  font: var(--headline2);
  letter-spacing: -0.005em;
}
h3 {
  font: var(--headline3);
}
h4 {
  font: var(--headline4);
}
h5 {
  font: var(--headline5);
  margin-bottom: 0px;
}
p {
  font: var(--body1);
  letter-spacing: 0.005em;
} */
.logo {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 39px;
  color: #310a90;
  margin-left: 128px;
  margin-top: 37px;
}
.logo:hover {
  cursor: pointer;
}
.menu {
  margin-left: 128px;
  margin-top: 45px;
}
.menu li {
  display: flex;
  flex-direction: row;
}
.menu li ul {
  font: var(--button);
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: white;
  margin-top: 0px;
}
.menu li ul:hover {
  color: var(--purple);
  cursor: pointer;
}
.button-cv {
  display: none;
}
@media screen and (max-width: 480px) {
  .container-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
  }
  .logo {
    margin: 0px;
  }
  .menu {
    display: none;
  }
  .button-cv {
    display: block;
  }
}
